[Unit]
Description=CASE Lab Audio Supervisor.
 
[Service]
Type=simple
WorkingDirectory=/home/volumio
ExecStart=/usr/bin/python -u /home/volumio/CASE_DSP/AudioSupervisor.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=audiospvsr
User=root
Group=volumio
 
[Install]
WantedBy=multi-user.target